/*=== Reset ===*/


* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {

    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    padding: 0 10%;
    background-color: #efeff4;
    

}

ul {
    list-style: none;
}

header {
    background-color: white;
    height: 95px;
}

/*=== Header Logo ===*/
.header-nav {
    height: 100%;
}

.header-nav__logo-container {
    float:left;
    width: 24%;
    height: 100%;
    border-right: 1px solid #efefef;
    text-align: center;
    padding: 10px;
}

.header-nav__logo {
    width: 166px;
    
}

.header-nav__logo img{
    width: 100%;
}



/*=== Header Navigation ===*/
.header-nav__container {
    float: left;
    width: 76%;
    position: relative;
}



.header-nav-top__items {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #efefef;
    font-size: .75em;
}

.header-nav-top__contrast {
    margin-right: 5px;
}

.header-nav-top__items-small-box {
    border: 1px solid #efefef;
    color:#1c4178;
    font-weight: 500;
    padding: 2px 1px;
    cursor: pointer;
}

.black-box {
    background-color:#000;
    color:rgb(255, 255, 9);
    padding:2px;
    font-size:0.95em;
}

.header-nav-top__items>li {
    padding-right: 35px;
    margin-top: 5px;
}

.header-nav-top__item-action {

background-color: #14a65b;
padding-left:10px;
color:#fff;


}


.header-nav-top i {
    transform: rotate(100deg);
    margin-right: 10px;
    font-size: 14px;
}

.no-rotate-info {
    transform: rotate(0deg) !important;
    margin-left: 5px;
}

.header-nav-top__tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

}

.header-nav-top__hamburger {
    position: absolute;
    right: 0;
    padding: 20px;
    margin: 20px;
    display: none;
}



.header-nav-top__hamburger span:nth-child(1){
    width: 40px;
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    background: black;
    transform: translateX(-50%);
}

.header-nav-top__hamburger span:nth-child(2){
    width: 40px;
    display: block;
    content: '';
    position: absolute;
    top: 10px;
    height: 2px;
    background: black;
    transform: translateX(-50%);
}
.header-nav-top__hamburger span:nth-child(3){
    width: 40px;
    content: '';
    position: absolute;
    top: 20px;
    height: 2px;
    background: black;
    transform: translateX(-50%);
}


.tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    right: 0;
    margin-left: -60px;
    top:30px;
    transition: all 0.1s;
  }
  
  .tooltiptext::before {
      content: ' ';   
      border: solid #555;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 25x;
      z-index: -1;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      position: absolute;
      top: -3px;
      right: 15px;
  }




.header-nav-bottom {
    display: block;
}

.header-nav-bottom__items {
        display: flex;
}
.header-nav-bottom__items>li {
    flex: 1 1 auto;
    text-align: center;
    height: 70px;
    line-height: 70px;
}
a.header-nav-bottom__item {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: .2s;
    padding: 20px;
}

.header-nav-bottom__item:hover {
    border-bottom-style: solid;
    border-color: #004382;
    background: #fff;
    border-bottom-width: 4px;
}


/* Secondary Nav */
.secondary-nav {

    background-color: #003e78;
    height: 70px;
    line-height: 25px;
    
}

.secondary-nav__title {
    color:#fff;
    margin-left:15px;
    position: relative;
    display: inline-block;
    width: 16%;
    float: left;
    padding:20px 20px;
}

.secondary-nav__title-arrow {
    display: inline;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.secondary_nav__title-arrow-dropdown {
    text-align: center;
    transform: translate(-35px,20px);
    background-color: #003e78;
    height: 100%;
    width: 180px;
    display: none;
    list-style: none;
    position: relative;
    z-index: 1;
}

.secondary-nav__items {
    float: right;
    display: inline-flex;
    margin-right: 15px;


}

.secondary-nav__item {
   padding:20px;
   transition: .2s;
}
.secondary-nav__item a,
.secondary-nav__item a:visited
{
   color:white;
   text-decoration: none;
 }
 .secondary-nav__item:hover {
    border-bottom-style: solid;
    border-color: #fff;
    background: #004382;
    border-bottom-width: 4px;
    transform: translateY(-3px);

 }
 .secondary-nav__item:active {
   
    transform: translateY(-1px);

 }


 /* Billboard Section */
    .billboard-container {
        width: 100%;
        max-height: 550px;
    }

    .bilboard__main {
        height: 100%;
    }
    .bilboard__main-img img {
        width: 100%;
        height: 100%;
    }

    .bilboard__main-img {
        position: relative;
        background-color: #fff;
      
    }

    .bilboard__main-img-overlay {
        position: absolute;
        top: 15%;
        left: 10%;
        width: 25%;
        text-align: left;
        height: 65%;
        background-color: #fff;
        opacity: 0.9;
    }

    

    .bilboard__main-img-text h2 {
        font-size: 2.2em;
        padding: 15px 20px 0 20px;
    }
    .bilboard__main-img-text p {
        font-size: 0.8em;
        padding: 0 20px;
    }

    /* .bilboard__main-img-text a {
        display: block;
        text-align: center;
        background-color: rgb(1, 126, 219);
        padding: 8px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        width: 80%;
        margin: 5px auto;
    } */


    /* Button */
    .btn {
        display: block;
        text-align: center;
        background-color: rgb(1, 126, 219);
        padding: 8px;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        width: 80%;
        margin: 5px auto;
    }

/* Vehicle Main Info */
    .vehicle-info {
        
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 20px;
    }

    .vehicle-info__nav {
        display: flex;
        justify-content: center;    
    }

    .vehicle-info__nav-items {
        border-collapse: separate;
        border-spacing: 0;
        width: 80%;
        margin-top: 20px;
        
    }

    .vehicle-info__nav-item {
        border: 1px solid #004382;
        border-radius: 2px;
        color:#004382;
        font-weight: 400;
        cursor: pointer;
        letter-spacing: 0.5px;
        
    }

 
    
    .tagged {
        background-color:#004382;
        color:#fff;
    }

    .vehicle-info_nav-img-info{
        width: 80%;
        margin:0 auto;
    }

    .vehicle-info_nav-img-info-dimensions {
        display: block;
        animation: showLeft 1s ease-in;
        transition: all .4s;
    }

    .vehicle-info_nav-img-info-dimensions-table {
        display: inline-block;
    }
    .vehicle-info__nav-info-dimensions-table-items thead tr td {
        padding: 15px;
        font-weight: 600;
    }
    
    .vehicle-info__nav-info-dimensions-table-items {
        width: 99%;
        border-collapse: collapse;
    }

    .vehicle-info__nav-info-dimensions-table-item {
        padding: 20px;
    }

    .vehicle-info__nav-info-dimensions-table-item-name {
        background: #e5e5e5;
        width: 25%;
    }

    .vehicle-info__nav-info-dimensions-table-item-row {
        border-top: 1px solid #c1c1c1;
        border-left: 1px solid #c1c1c1;
        border-right: 1px solid #c1c1c1;
        border-bottom: 1px solid #c1c1c1;
       
    }
    .vehicle-info__nav-info-dimensions-table-item-row td{
        text-align: center;
        padding: 10px;
        border-right: 1px solid #c1c1c1
    }

    .vehicle-info_nav-img-info-dimensions-img {
        display: inline-block;
    }

    .vehicle-info_nav-img-info-dimensions-img img {
        width: 100%;
    }
    
    .vehicle-info__btn {
        width: 40%;
        margin-top: 15px;
    }

    .vehicle-info_nav-img-info-layouts{
        margin-top: 15px;
        display: none;
        animation: showLeft 1s ease-in;
        transition: all .4s;
    }
    .vehicle-info_nav-img-info-layouts img{
        width: 100%;
    }

    .vehicle-info_nav-img-info-layouts span {
        font-weight: 500;
        display: block;
        letter-spacing: 0.5px;
    }
    
/*Media Queries */



 @media only screen and (max-width: 880px) {
    

    .header {
        height: 15vh;

    }

    

    .header-nav__logo-container {
        width: 34%;
    }
    .header-nav-top {
        display: none;
    }
    
    .header-nav-bottom {
        position: absolute;
        right: 0;
        top: 18vh;
        background: aliceblue;
        width: 80vw;
        z-index: 1;
        display: none;
    }

    .header-nav-bottom__items {
        display: block;
        text-align: left;
    }

    .header-nav__container {
        width: 66%;
    }
    .header-nav-top__hamburger {
        display: block;
    }
    
    .secondary-nav__title {
        width: 100%;
    }

    .secondary-nav__title-arrow{
        left:85%
    }

    .secondary_nav__title-arrow-dropdown {
        width: 100%;
        transform: translate(-15px,20px);
    }
    
    .secondary-nav__items {
        display: none;
    }
    
    .bilboard__main-img-overlay {
        display: none;
    }
   

 }

 @media only screen and (min-width: 880px ) and (max-width: 1270px){

    .header-nav-top__items>li {
        padding-right: 30px;
    }


    .header-nav-bottom__item {
       padding: 0 !important;
       font-size: 0.95em;
    }
    .header-nav-bottom__items>li {
        line-height: 45px;
    }
    .secondary-nav__title {

        padding: 0;

    }

    .secondary-nav__item {
        padding: 0 20px;
    }
    
    .bilboard__main-img-text h2 {
        font-size: 1.2em;
    }

    .bilboard__main-img-text p {
        display: none;
    }
    
    .bilboard__main-img-text {
        font-size: 0.95em;
        padding:5px 9px
    }

    .bilboard__main-img-overlay {
        height: 35%;
    }

    .bilboard__main-img-text a {
        padding: 5px;
    }
    
    .secondary_nav__title-arrow-dropdown {
        width: 100%;
        transform: translate(-15px,20px);
    }

 }

 @media only screen and (min-width: 1270px ) {

    .bilboard__main-img-text h2 {
        font-size: 1.5em;
        padding: 15px 20px 0 20px;
    }
   

 }


 @media only screen and (min-width: 1920px ) {


    .bilboard__main-img-overlay {
        height: 60%;
    }
    .bilboard__main-img-text h2 {
        font-size: 2.2em;
    padding: 10px 25px;
    }

    .bilboard__main-img-text p {
        font-size: 1em;
        padding: 0 25px;
       
    }
    .bilboard__main-img-text a {
        margin:10px auto;
        padding: 15px;
    }

 }

 @media only screen and (max-width: 510px){

    body {
          
        padding: 0;
    }

    .header {
        height: 10vh;
    }

    .header-nav-bottom {
        top:10vh;   
        width: 100vw;
    }

    .header-nav__logo-container {
        width: 50%;
    }

    .header-nav__container {
        width: 50%;
    }

   

    .vehicle-info__nav-item {
        padding: 5px;
        line-height: 1;
    }

    .vehicle-info__btn {
        width: 85%;
    }
   

    .vehicle-info_nav-img-info-layouts span {
        font-weight: 400;
       font-size:0.75em;
    }
}

/* Animations */

@keyframes showOpacity {
    0% {
        opacity: 0;
    }
    
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}